{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Zadatak za završni ispit: 'Portal za dijeljenje i ocjenjivanje književnih djela'.">
    <meta name="author" content="Filip Kačić">
    <meta name="keywords" content="html, css, django, javascript">
    <title>PZD&OKD</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'main/favicon/stack_of_books.svg' %}">
</head>
<body class="theme1">
    <div id="user" class="button">
            
        {% if user.is_authenticated %}
            <p>Korisnik: {{ user.username }}</p>
            <ul>
                <li><a href="{% url 'logout' %}?next={% url 'main:homepage' %}">Odjava</a></li>
                <li><button id="colorSwitchButton">Zamjeni boje</button></li>
            </ul>
        {% else %}
            <ul>
                <div class="container" style="margin: var(--small-size) 0 0; padding: 0;">
                    <li><a href="{% url 'login' %}">Prijava</a></li>
                    <li><a href="{% url 'register' %}">Registracija</a></li>
                </div>
                <li><button id="colorSwitchButton">Zamjeni boje</button></li>
            </ul>
        {% endif %}
    </div>
    <div id="title" class="center">
        <h1>Portal za dijeljenje & ocjenjivanje književnih djela</h1>
    </div>
    <div id="navbar">
        <ul>
            <li><a href="/">Početna stranica</a></li>
            <li><a href="/books">Knjige</a></li>
            <li><a href="/authors">Autori</a></li>
            <li><a href="/genres">Žanrovi</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Adds the defer attribute to ensure the script is executed after the DOM is fully loaded -->
    <script src="{% static 'main/js/switch.js' %}" defer></script>
</body>
</html>
