/* color & size palette */
:root {
    --primary-color: black;
    --secondary-color: whitesmoke;
    --tertiary-color: silver;
    --quaternary-color: navy;
    --quinary-color: gold;
    --minimum-size: 0.1em;
    --small-size: 0.5em;
    --medium-size: 1em;
    --large-size: 2.5em;
    --maximum-size: 5em;
}

/* themes are switched by the js swicth btn */
.theme1 {
    --primary-color: black;
    --secondary-color: whitesmoke;
    --tertiary-color: silver;
    --quaternary-color: navy;
    --quinary-color: gold;
}

.theme2 {
    --primary-color: whitesmoke;
    --secondary-color: black;
    --tertiary-color: lightgrey;
    --quaternary-color: lightcyan;
    --quinary-color: olive;
}

/* common grounds */
body {
    font-family: Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li {
    padding: var(--small-size);
}

a:hover {
    cursor: pointer;
}

/* basic buttons transformed */
button {
    display: inline-block;
    padding: var(--small-size) var(--large-size);
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: var(--minimum-size) solid var(--tertiary-color);
    border-radius: var(--small-size);
    margin: var(--minimum-size);
}

button:hover {
    color: var(--primary-color);
    background: radial-gradient(ellipse, var(--secondary-color), var(--tertiary-color));
}

/* some stylish buttons */
.button ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button li {
    display: inline-block;
    margin: var(--medium-size);
}

.button a {
    display: block;
    padding: var(--small-size) var(--maximum-size);
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: var(--minimum-size) solid var(--tertiary-color);
    border-radius: var(--small-size);
}

.button a:hover {
    background: radial-gradient(ellipse, var(--secondary-color), var(--tertiary-color));
}

/* recyclables */
.center {
    text-align: center;
}

.container {
    display: inline-block;
    margin: var(--small-size) var(--medium-size);
    padding: var(--large-size) var(--maximum-size);
    background-color: var(--secondary-color);
    border: var(--minimum-size) solid var(--tertiary-color);
    border-radius: var(--small-size);
}

/* lil btns == buttons */
.little_button {
    display: inline-block;
    padding: var(--small-size) var(--large-size);
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: var(--minimum-size) solid var(--tertiary-color);
    border-radius: var(--small-size);
    margin: var(--minimum-size);
}

.little_button:hover {
    color: var(--primary-color);
    background: radial-gradient(ellipse, var(--secondary-color), var(--tertiary-color));
}

/* User section */
#user {
    text-align: right;
}

#user p {
    font-style: italic;
}

/* Title section */
#title {    
    text-transform: uppercase;
    text-shadow: 0 var(--minimum-size) var(--minimum-size) var(--primary-color);
}

/* Horizontal navigation bar section */
#navbar {
    color: var(--secondary-color);
    background-color: var(--quaternary-color);
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#navbar li {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#navbar a {
    display: block;
    padding: var(--medium-size) var(--large-size);
    text-decoration: none;
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

#navbar a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

/* Ratings section */
#ratings {
    margin: var(--small-size);
    padding: var(--small-size);
    border: var(--minimum-size) solid var(--tertiary-color);
    border-radius: var(--small-size);
    background-color: var(--quinary-color);
    display: block;
    float: left;
}

#ratings p {
    margin: var(--minimum-size);
}
