{% extends "index.html" %}
{% block content %}
    <h2>Pobriši ocijenu</h2>
    <div class="button">
        <ul>
            <li><a href="{% url 'main:list' %}" class="button">Natrag na ocijene</a></li>
        </ul>
    </div>
    <div class="container">
        <p style="padding: var(--small-size) 0; margin: 0">Jeste li sigurni da želite pobrisati ocijenu za knjigu "{{ rating.book }}"?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Confirm Delete">
        </form>
    </div>
{% endblock %}