{% extends "index.html" %}
{% block content %}
    <h2>Ocijene</h2>
    <div class="button">
        <ul>
            <li><a href="{% url 'main:homepage' %}" class="button">Natrag na početnu stranicu</a></li>
        </ul>
    </div>
    {% for rating in ratings %}
        <div id="ratings">
            <div class="center">
                <h3>{{ rating.rating }}</h3>
            </div>
            <p>Knjiga: {{ rating.book }}</p>
            <p>Korisnik: {{ rating.user }}</p>
            <div class="center">
                <a href="{% url 'main:update' rating.pk %}" class="little_button" style="text-align: center;">Promijeni</a>
                <a href="{% url 'main:delete' rating.pk %}" class="little_button" style="text-align: center;">Pobriši</a>
            </div>
        </div>
    {% empty %}
        <p>Nema ocijena...</p>
    {% endfor %}
{% endblock %}